.articles {
  background-color: $White;
  padding: 9rem 0;
  h4 {
    font-size: 1.3rem;
    font-weight: $delgada;
  }
  h3 {
    font-size: 2rem;
    font-weight: $regular;
  }
  h2 {
    margin-bottom: 3.8rem;
    @include tablet {
      text-align: left;
    }
  }
  img {
    height: 20rem;
  }
}
.cards {
  @include tablet {
    @include grid(2, 3rem);
  }
  @include desktop {
    @include grid(4, 3.5rem);
  }
}
.card {
  border-radius: 0.5rem;
  background-color: $White;
  margin-bottom: $separacion/2;
  overflow: hidden;
  box-shadow: -1px 6px 5px 7px rgba(0, 0, 0, 0.04);

  .card-text {
    padding: 3rem;
  }
  h4,
  h3,
  p {
    text-align: left;
  }
  h3 {
    margin: 1.6rem 0;
    font-size: 1.6rem;
  }
  h4 {
    font-size: 1.2rem;
  }
  p {
    font-size: 1.4rem;
    margin-bottom: 4.5rem;
  }
}
.card-text h3:hover,
.icons-social a:hover,
.links-contact a:hover,
.links-support a:hover {
  color: $Lim-Green;
  cursor: pointer;
}
